#window {
  background: alpha(var(--subtext0), 0.15);
}

box#main {
  border-radius: 8px;
}

entry#entry {
  min-height: 40px;
  border-radius: 8px;
  background: var(--base);
  box-shadow: none;
  margin-bottom: 10px;
  border: 1px solid var(--surface0);
}

list#main {
  border-radius: 8px;
  background: transparent;
}

#plugin {
  background: transparent;
  box-shadow: none;
}

row#plugin {
  background: var(--base);
  border: 1px solid var(--surface0);
  border-width: 1px 1px 0 1px;
}

row#plugin:first-child {
  border-radius: 8px 8px 0 0;
}

row#plugin:last-child {
  border-radius: 0 0 8px 8px;
  border-bottom-width: 1px;
}

row#plugin:only-child {
  border-radius: 8px;
}

#match {
  margin: 2px 0;
  border-radius: 8px;
}

#match:selected {
  background: var(--surface2);
}

#match:hover {
  background: var(--surface0);
}

#match:hover:selected {
  background: var(--surface2);
}

label#match-desc {
  font-size: 10px;
  color: var(--subtext0);
}

label#match-title {
  color: var(--text);
}

label#plugin {
  font-size: 14px;
  color: var(--text);
}
