* {
  all: unset;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  background: var(--mantle);
  padding: 20px;
  border-radius: 20px;
  box-shadow:
    0 0 8px 0 rgba(0, 0, 0, 0.8),
    inset 0 0 0 1px var(--surface1);
}

.preview-box,
.elephant-hint,
.placeholder {
  color: var(--text);
}

/* .box {} */

.search-container {
  border-radius: 10px;
}

.input placeholder {
  opacity: 0.5;
}

.input {
  caret-color: var(--text);
  background: var(--base);
  padding: 10px;
  color: var(--text);
}

/* .input:focus, */
/* .input:active { */
/* } */
/**/
/* .content-container { */
/* } */
/**/
/* .placeholder { */
/* } */
/**/
/* .scroll { */
/* } */

.list {
  color: var(--text);
}

/* child { } */

.item-box {
  border-radius: 10px;
  padding: 10px;
}

.item-quick-activation {
  margin-left: 10px;
  background: alpha(var(--overlay0), 0.25);
  border-radius: 5px;
  padding: 10px;
}

child:hover .item-box,
child:selected .item-box {
  background: alpha(var(--overlay0), 0.25);
}

/* .item-text-box { } */

.item-text {
  color: var(--text);
}

.item-subtext {
  font-size: 12px;
  color: var(--subtext0);
}

.item-image {
  margin-right: 10px;
}

.keybind-hints {
  font-size: 12px;
  opacity: 0.5;
  color: var(--text);
}

.preview {
  padding: 10px;
  border-radius: 10px;
  color: var(--text);
  background: var(--base);
}

.calc .item-text {
  font-size: 24px;
}

/* .calc .item-subtext { } */

.symbols .item-image {
  font-size: 24px;
}

.todo.done .item-text-box {
  opacity: 0.25;
}

.todo.urgent {
  font-size: 24px;
}

.todo.active {
  font-weight: bold;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}
