* {
  font-family:
    CaskaydiaMono Nerd Font,
    monospace;
  all: unset;
}

#window {
  color: #cdd6f4; /*typing cursor color*/
}

#box {
  border-radius: 8px;
  background: #181825;
  padding: 10px;
  border: 2px solid #cba6f7;
  box-shadow: none;
}

#search {
  box-shadow: none;
  background: #1e1e2e;
  padding: 8px;
  border-radius: 8px;
  color: #cdd6f4;
}

#prompt {
  margin-left: 4px;
  margin-right: 12px;
  opacity: 0.5;
}

#clear {
  color: #cdd6f4;
  opacity: 0.8;
}

#password,
#input,
#typeahead {
  border-radius: 2px;
}

#input {
  background: none;
}

/* #password { */
/* } */

#spinner {
  padding: 8px;
}

#typeahead {
  color: #cdd6f4;
  opacity: 0.8;
}

#input placeholder {
  opacity: 0.5;
}

/* #list { */
/* } */

child {
  color: #cdd6f4;
  padding: 4px;
  border-top: 1px solid #313244;
}

child:selected,
child:hover {
  border-radius: 8px;
  background: #313244;
  box-shadow: none;
  color: #cdd6f4;
}
child:selected + child,
child:hover + child,
child:first-child {
  border-top: none;
}

/* #item { */
/* } */

#icon {
  margin-right: 8px;
}

/* #text { */
/* } */

#label {
  color: #89b4fa;
}

#sub {
  color: #bac2de;
}

/* #activationlabel { */
/* } */

/* #bar { */
/* } */

/* .barentry { */
/* } */

.activation #activationlabel {
  color: #89b4fa;
  font-weight: bold;
}

.activation #text,
.activation #icon,
.activation #search {
  opacity: 0.5;
}

.aiItem {
  padding: 10px;
  border-radius: 2px;
  color: #cdd6f4;
  background: #181825;
}

.aiItem.user {
  padding-left: 0;
  padding-right: 0;
}

.aiItem.assistant {
  background: #1e1e2e;
}
