* {
  font-family:
    CaskaydiaMono Nerd Font,
    monospace;
  font-size: 11px;
  min-height: 0;
  outline-width: 0;
  outline-offset: 0;
  border: none;
  border-radius: 0;
}

tooltip label {
  color: var(--text);
}

tooltip,
tooltip > decoration {
  box-shadow: none;
  background: var(--base);
  border-radius: 12.6px;
  border: 0.2px var(--mantle) solid;
}

window#waybar {
  background: var(--mantle);
  transition-property: background-color;
  transition-duration: 0.5s;
  border-bottom: 1px solid var(--surface0);
}

window#waybar.hidden {
  opacity: 0.2;
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

.modules-left,
.modules-right,
.modules-center {
  margin-top: 4px;
  margin-bottom: 4px;
}

#battery,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#tray,
#workspaces,
#custom-notification,
#idle_inhibitor {
  background-color: var(--base);
  padding: 0 4px;
  margin: 0;
  opacity: 1;
}

/* separators */
#battery,
#image.logo,
#privacy,
#temperature,
#workspaces {
  margin-right: 8px;
}

/* Left borders*/
#battery,
#workspaces,
#clock,
#pulseaudio,
#custom-notification {
  border-bottom-left-radius: 12.6px;
  border-top-left-radius: 12.6px;
}

/* Right borders*/
#battery,
#workspaces,
#idle_inhibitor,
#temperature,
#tray {
  border-bottom-right-radius: 12.6px;
  border-top-right-radius: 12.6px;
}

.power > label {
  margin: 0 10px;
}

#custom-power:hover,
#custom-quit:hover,
#custom-lock:hover,
#custom-reboot:hover,
#custom-hibernate:hover {
  color: var(--text);
}

#custom-power {
  color: var(--red);
}

#custom-quit {
  color: var(--peach);
}

#custom-lock {
  color: var(--yellow);
}

#custom-reboot {
  color: var(--green);
}

#custom-hibernate {
  color: var(--blue);
}

/* workspaces & taskbar */

#workspaces button.active box label {
  transition: padding 200ms;
}

#workspaces button {
  box-shadow: inherit;
  text-shadow: inherit;
  color: var(--text);

  margin: 0 2px;
  min-width: 0;
  padding: 0;
}

#workspaces button box label {
  font-size: 0.8em;
  color: var(--surface2);
  border-radius: 100%;
  min-width: 12px;
  padding-left: 2px;
  padding-right: 1.5px;
  margin: 8px 0;
  background-color: var(--subtext0);
}

#workspaces button.active box label {
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 35%;
  background-color: var(--mauve);
  color: var(--base);
  margin: 7.5px 0;
}

#workspaces button:hover box label {
  background-color: var(--surface1);
  color: var(--text);
}

#workspaces button.active:hover box label {
  color: var(--text);
}

#workspaces button.urgent box label {
  background-color: var(--red);
  color: var(--base);
}

#taskbar.empty {
  background: transparent;
}

#taskbar button {
  background: var(--mantle);
  margin: 0 2px 0 0;
  min-width: 0;
  padding: 2px 4px;
}

#taskbar button box {
  padding: 2px;
}

#taskbar button.active box,
#taskbar button:hover,
#workspaces button:hover,
#workspaces {
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button box > image {
  padding: 0;
  min-width: 14px;
  min-height: 14px;
  margin: 2px 0;
}

#taskbar button box > label {
  font-size: 0px;
  color: transparent;
}

#taskbar button.active box > label {
  padding: 1px;
  min-width: 2px;
  min-height: 2px;
  margin-bottom: 8px;

  font-size: 10px;
  color: var(--mauve);
}

#taskbar button {
  border-radius: 30%;
}

#taskbar button:hover,
#taskbar button.active,
#taskbar button.active:hover {
  background-color: var(--base);
}

#privacy-item.screenshare {
  color: var(--red);
}

#privacy-item.audio-in {
  color: var(--yellow);
}

#clock {
  padding: 0 5px 0 10px;
  color: var(--blue);
}

#idle_inhibitor {
  padding: 0 10px 0 5px;
  color: var(--mauve);
  font-size: 11px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#idle_inhibitor.activated {
  background-color: var(--blue);
  color: shade(var(--crust), 0.9);
  border-left: none;
}

#battery {
  padding: 0 10px;
}

#pulseaudio {
  padding-left: 10px;
  color: var(--maroon);
}

#memory {
  padding-right: 10px;
  color: var(--blue);
}

#temperature {
  padding-right: 10px;
  color: var(--mauve);
}

#temperature.critical {
  background-color: var(--red);
  color: var(--base);
}

#custom-notification {
  font-size: 12px;
  padding: 0 12px 0 10px;
}

#tray {
  padding: 0 10px 0 0;
  -gtk-icon-theme: "Papirus-Dark";
}

#tray window > menu {
  background: var(--base);
}

#tray window > decoration {
  box-shadow: none;
  border: 0.2px var(--mantle) solid;
}

#tray window > menu,
#tray window > menu menuitem,
#tray window > decoration {
  border-radius: 12.6px;
}

#tray window > menu label {
  color: var(--text);
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#tray > .needs-attention > image {
  padding: 2px 5px;
  border-radius: 12.6px;
  background-color: alpha(var(--red), 0.05);
  border: 2px solid var(--red);
}
