* {
  font:
    0.85rem CaskaydiaMono Nerd Font,
    monospace;
  min-height: 0;
}

tooltip label {
  color: var(--text);
}

tooltip,
tooltip > decoration {
  box-shadow: none;
  background: var(--base);
  border-radius: 12.6px;
  border: 0.2px var(--mantle) solid;
}

window menu,
window menu menuitem,
window decoration {
  border-radius: 12.6px;
  color: var(--text);
}

window menu decoration {
  box-shadow: none;
  border: 0.2px var(--mantle) solid;
}

window menu {
  background: var(--base);
}

window#waybar {
  background: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

.modules-left,
.modules-right,
.modules-center {
  margin-top: 4px;
  margin-bottom: 4px;
}

#power,
#workspaces,
#taskbar,
#middle,
#battery,
#hardware,
#control {
  background-color: var(--base);
  margin: 0;
  padding: 0 10px;
  opacity: 1;
  border-radius: 12.6px;
}

#workspaces,
#taskbar {
  padding: 0 5px;
}

#middle label,
#hardware label,
#control label {
  margin: 0 5px;
}

#power label {
  margin: 0 10px;
}

/* separators */
#battery,
#power,
#privacy,
#battery,
#hardware,
#workspaces {
  margin-right: 8px;
}

#custom-power:hover,
#custom-quit:hover,
#custom-lock:hover,
#custom-reboot:hover,
#custom-hibernate:hover {
  color: var(--text);
}

#custom-power {
  color: var(--red);
}

#custom-quit {
  color: var(--peach);
}

#custom-lock {
  color: var(--yellow);
}

#custom-reboot {
  color: var(--green);
}

#custom-hibernate {
  color: var(--blue);
}

/* workspaces & taskbar */
#workspaces button {
  box-shadow: inherit;
  text-shadow: inherit;
  color: var(--surface2);

  min-width: 0;
  margin: 8px 2px;
  padding: 0 8px;
  border-radius: 30%;
  background-color: var(--subtext0);
}

#workspaces button.active {
  padding: 0 15px;
  background-color: var(--mauve);
  color: var(--base);
}

#workspaces button:hover {
  background-color: var(--surface1);
  color: var(--text);
}

#workspaces button.active:hover {
  color: var(--text);
}

#workspaces button.urgent {
  background-color: var(--red);
  color: var(--base);
}

#taskbar.empty {
  background: transparent;
}

#taskbar button {
  border-radius: 100%;
  min-width: 0;
  margin: 2px 2px;
  padding: 6px;
}

#taskbar button.active:hover,
#taskbar button.active {
  background: var(--surface1);
}

#taskbar button:hover {
  background: var(--surface0);
}

#privacy-item.screenshare {
  color: var(--red);
}

#privacy-item.audio-in {
  color: var(--yellow);
}

#idle_inhibitor.activated {
  color: var(--mauve);
  font-size: 1.1em;
}

/* battery */
#battery.charging {
  color: var(--green);
}

#battery.warning:not(.charging) {
  color: var(--peach);
}

@keyframes blink {
  50% {
    color: var(--text);
    border: 1px solid var(--base);
  }
}

#battery.critical:not(.charging) {
  color: var(--red);
  border: 1px solid var(--red);
  animation: blink 2s linear 5;
}

#wireplumber {
  color: var(--maroon);
}

#memory {
  color: var(--blue);
}

#temperature {
  color: var(--mauve);
}

#temperature.critical {
  color: var(--red);
}

#custom-notification {
  padding-right: 8px;
}

/* tray */
#tray {
  -gtk-icon-theme: "Papirus-Dark";
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#tray > .needs-attention > image {
  padding: 2px 5px;
  border-radius: 12.6px;
  background-color: alpha(var(--red), 0.05);
  border: 2px solid var(--red);
}
